@using DatchikiSharp.Core.Entitites
@model List<DatchikiSharp.Core.Entitites.Room>
@foreach (var room in Model)
{
    if (room.Scaners.Where(s => s.Type == ScanerTypes.Smoke).Any(s => s.Status == true))
    {
        <a href="/room/@room.Id" class="col-md-12 col-xl-12 text-decoration-none">
            <div class="card shadow border-start-info py-2 bg-danger mt-4">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="row g-0 align-items-center">
                                <div class="col-auto">
                                    <div class="text-white fw-bold h5 mb-0 me-3">
                                        <span>Room 544</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i style="font-size: 2em" class="fas fa-heart-broken text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }
    else if (room.Status)
    {
        <a href="/room/@room.Id" class="col-md-12 col-xl-12 mt-4 text-decoration-none">
            <div class="card shadow border-start-info py-2 mt-4">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="row g-0 align-items-center">
                                <div class="col-auto">
                                    <div class="text-dark fw-bold h5 mb-0 me-3">
                                        <span>Room @room.Number</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i style="font-size: 2em" class="fas fa-check text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }
    else if (!room.Status)
    {
        <a href="/room/@room.Id" class="col-md-12 col-xl-12 mt-4 text-decoration-none">
            <div class="card shadow border-start-info py-2 mt-4">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="row g-0 align-items-center">
                                <div class="col-auto">
                                    <div class="text-dark fw-bold h5 mb-0 me-3">
                                        <span>Room @room.Number</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i style="font-size: 2em" class="fas fa-times text-warning"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }
}
