@model DatchikiSharp.Core.Entitites.Room
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
<script ></script>
<div class="row">
    <div class="col-6">
        @Model.Number
    </div>
    <div class="col-6">
        @Model.Number
    </div>
</div>
