@model DatchikSharp.ViewModels.RoomsScanersViewModel
    <script>
        window.location.replace("https://10.5.1.149:5001");
    </script>
@*<a asp-action="CreateEditScaner">Link</a>
<a asp-action="CreateEditRoom">Link</a>
<script*@
